body {
    background-image: url('../images/ebano.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

a {
    cursor: pointer;
}

#fadein {
    animation: fadein 0.6s;
}
@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}

.mh-100vh {
    max-height: 94vh;
}

.bg-preto {
    background-color: #222;
}

@media all and (min-width: 499px) {
    .bg-purple{
        background-color: #572a82;
        border-radius: 12px;
    }
    .bg-purple:hover{
        transition: 0.2s;
        transform: scale(1.02);
        filter: brightness(1.2);
    }
}

.btn-purple{ 
    background-color: #7035a7; 
    color: #eee;
}

.btn-purple:hover { background-color: #572a82; }

.nav-link:hover {
    background-color: #7035a7;
    transition: 0.3s;
    border-radius: 12px;
    transform: scale(0.98);
    filter: brightness(1.1);
}

.banner       { display:block; }
.bannermobile { display:none; }

@media all and (max-width: 499px) {
    .banner       { display: none; }
    .bannermobile { display: block; }
}

.accordion .card-header :hover {
    background-color: #7035a7;
    cursor: pointer!important;
}

.card-body {
    background-color: #f8f9fa;
}

.lupa {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
    color: #eee;
    padding: 4px;
    border: none;
    border-radius: 100%;
    background-color: rgba(44, 44, 44, 0.7);
    line-height: normal;
}

.black-control-next {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23707070' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    /* color: black; */
}

.black-control-prev {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23707070' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    transform: rotate(180deg);
    /* color: black; */
}

.carousel-caption {
    font-size: 30px;
    text-shadow: 0 0 10px #000;
}

/* Footer  NÃO MEXER */

@media only screen and (min-width: 480px) {
    html {
        height: 100%;
    }
    
    body {
        min-height: 100%;
        position: relative;
        padding-bottom: 280px;
    }
    
    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 280px;
        background: #ebf4fa;
    }
}

footer h5 {
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 500;
}

footer a {
    color: #818494;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
}

footer a:hover {
    color: #7035a7;
    text-decoration: none;
}

.link-grow {
    transition: all .1s ease-in-out;
}

.link-grow:hover {
    transform: scale(1.01);
}

.black-indicators .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
  
.black-indicators .carousel-indicators .active {
    background-color: #444;
}
